.perspective--modalview::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный */
    z-index: 9; /* Ниже меню, но выше основного контента */
    pointer-events: none; /* Чтобы клики проходили сквозь оверлей */
  }
  
  /* Убедитесь, что само меню имеет z-index выше */
  .outer-nav {
    z-index: 10;
  }